.DS_Store
.gradle
/.idea/dictionaries
/.idea/libraries
/.idea/workspace.xml
/android-nexec-client-share
/app/src/main/res/drawable-hdpi/ic_launcher.png
/app/src/main/res/drawable-ldpi/ic_launcher.png
/app/src/main/res/drawable-mdpi/ic_launcher.png
/app/src/main/res/drawable-xhdpi/ic_launcher.png
/app/src/main/res/drawable-xxhdpi/ic_launcher.png
/au.com.darkside.XServer
/build
/doc/command_page-thumb.png
/doc/environment_page-thumb.png
/doc/host_page-thumb.png
/doc/index.html
/doc/permission_page-thumb.png
/doc/redirection_page-thumb.png
/fsyscall
/ic_launcher-web.png
/jp.gr.java_conf.neko_daisuki.android.nexec.client
/local.properties
/nexec
